
<div class="container">
	<h1>Admin Dashboard</h1><br>

<!-- 	<div>
		<%= link_to 'Manage Appointments', dashboard_appointments_path %>
	</div><hr> -->

	<div>
		<%= link_to 'Manage Appointments', dashboard_appointments_path %>
	</div><hr>

	<div>
		<%= link_to 'Manage Services', dashboard_services_path %>
	</div><hr>

	<div>
		<%= link_to 'Manage Trainers', dashboard_trainers_path %>
	</div><hr>

</div>

<br />

