<%= render 'layouts/header' %>


<div class="container">
	<h1>Admin Dashboard</h1>

	<br />

	<div class="services_list">
		Content describing services
	</div>

</div>

<br />




<%= render 'layouts/footer' %>