
<div class="container">
	<h1>HomePage</h1>

	<div class="carousel">
		Hero image that cycles through multiple photos
	</div>
	<div class="about_text">
		This is where the studio's about content will live
	</div>
	<div class="featured_service">
			Featured services or events
	</div>



</div>

<br />

