
<div class="container">
	<h1></h1>

	<div id="hero_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#hero_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#hero_carousel" data-slide-to="1"></li>
    <li data-target="#hero_carousel" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <!-- Controls -->
<!--   <a class="left carousel-control" href="#hero_carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a> -->
  <!-- <a class="right carousel-control" href="#hero_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
</div> <!-- Carousel -->

<!-- ___________________________________________________________________________________________ -->
	
	<div class="carousel">
	<!-- 	Hero image that cycles through multiple photos -->
	</div>
	<br><br>
	<hr>
	<div class="featured_services">
		<% @services.where(is_featured: 'true').each do |s| %>
		<div>
			<%= link_to s.name, s %> <br><br>
			<%= s.description %>
		</div>
		<br>
		<% end %>
	</div>
	<br>
	<hr>
	<div class="about_text">
		ABOUT US: <br><br>
		<%= @about.about_text %>
	</div>
	<br><br>
	<hr>
	MEET THE INSTRUCTORS AT BRANCH STUDIO: <br><br>
	<div id="teacher_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#teacher_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#teacher_carousel" data-slide-to="1"></li>
    <li data-target="#teacher_carousel" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/220x220" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/220x220" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/220x220" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#teacher_carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#teacher_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


<!-- 	MEET THE INSTRUCTORS AT BRANCH STUDIO: <br><br> -->
	<div class="homepage_instructors">
		<% @trainers.each do |t| %>
		<div>
			<%= link_to (t.first_name + ' ' + t.last_name), t %> <br><br>
			<%#= t.bio %>
		</div>
		<br>
		<% end %>
	</div>



</div>

<br />

