<div class='container'>
	<a type="button" class="btn button" href="/dashboard" >&#8592; Back</a><br><br>
	<a type="button" class="btn button" href="#new_trainer_modal" data-toggle="modal">+ Add New Trainer</a> 
	<br><br>

	<div class="trainers_list">
		<div class="row feature_title">
				<div class="col-md-4">
					<h4>Trainer</h4>
				</div>
				<div class="col-md-4">
					<h4>Photo</h4>
				</div>
				<div class="col-md-4">
					<h4></h4>
				</div>
		</div>

		<div class="trainers_list">
			<div class="row">
				<% @trainers.order("last_name").each do |t| %>
				<div class="col-md-4">
					<%= t.full_name %>
				</div>
				<div class="col-md-4">
					<%=image_tag t.photo.url(:thumb)%>
				</div>
				<div class="col-md-4">
					<%= link_to 'Edit', edit_dashboard_trainer_path(t) %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

</div>


<div class="modal fade" id="new_trainer_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>New Trainer</h3>
  </div>
  <div><br>
	  <%= render "layouts/trainer_form" %>
  </div>
</div>