
<div class="containter">
	<div class="about_us">
		Section for studio bio (foudning, philosophy)
	</div>
	<div class="contact_form">
		Form to reach out to site admin (fields for name, email, subject, message)
	</div>
	<div class="faq">
	FAQ's for the studio
	</div>
</div>
