/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "compass";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

// $background: #f6f6f6;

.container{
  background-color: #f6f6f6;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  // background-color: $background;
  min-width: 500px;
  background-color: #f6f6f6;
}

body a{
  color:#414042; 
  text-decoration:none;
}

body a:hover{
  color:#00b9ce; 
  text-decoration:none;
}

body hr{
  border-bottom: 2px dashed #00b9ce;
  border-top: 0px;
  margin-bottom: 30px;
}

h3, .h3 {
  font-size: 24px;
  font-family: 'Montserrat:400', sans-serif;
  border-top: 0px;
  margin-bottom: 50px;
}


// HEADER

.navbar {
  margin-bottom: 0;
}

ul.nav a:hover{
  color: #00b9ce !important;
}

.header{
	margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.leftHeader{
  // text-align: left;
  float: left;
  // margin-top: 15px;
  width: 500px;
  height: 40px;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  // border: solid black 1px;
}

.rightHeader{
  text-align: right;
  color: #00b9ce;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  width: 475px;
  // border: solid black 1px;
  float: right;
  padding-top: 5px;
  height: 40px;
  vertical-align: middle;
  margin: 0 auto;
}

.rightHeader div{
  display: inline-block;
  margin-right: 10px;
}

.rightHeader a{
  text-align: right;
  color: #00b9ce;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.rightHeader a:hover{
  text-align: right;
  color: #00b9ce;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.navLinks div{
  display: inline-block;
  margin-left: 20px;
}

/*//HOMEPAGE*/

#home { 
  background: data-asset-url(CarouselTop_02.png) 50% 0 repeat fixed; max-height: 390px; 
  height: 390px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1200px; 
  position: relative; 
}
 
#home article { 
  // height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 75px; 
  width: 100%; 
}

h5, .h5 {
  font-size: 24px;
  text-align: center;
  font-family: 'Open+Sans:400', sans-serif;
  color: #00b9ce;
}

h6, .h6 {
  font-size: 24px;
  color: #8d8a8a;
  font-family: 'Open+Sans:400', sans-serif;
  line-height: 37px;
}

#leftarrow{
  margin-bottom: -220px;
}

#rightarrow{
  margin-bottom: -220px;
}

.trainerpics{
  height: 280px;
}

.carousel-caption{
  text-transform: uppercase;
  margin-bottom: -90px;
  height: 100px;
  width: 251px;
}

.col-sm-1 {
  width: 8.3333333333%;
}

#featuredServiceContainer{
  font-family: 'Open Sans', sans-serif;
  color: #8d8a8a;
}

.featuredService{
  width: 50%;
  min-width: 450px;
  float: left;
  padding: 20px;
  border: solid 15px #f6f6f6;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.featuredService a{
  color:#00b9ce; 
  text-decoration:none;
}

.serviceImage img{
  width: 40%;
  min-width: 200px;
  float: left;
  margin-right: 15px;
}

.serviceText{

}

.learnMore{
  padding: 15px;
  text-align: right;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.learnMore a{
  color:#00b9ce; 
  text-decoration:none;
}

.aboutText{
  clear: both;
}

.thumbnail{
  overflow: hidden;
  padding: 15px;
}

.thumbnail img{
  width: 35%;
  float: left;
  margin-right: 15px;
}

.caption{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

// FOOTER

.footer{
	float: right;
	width: 100%;
	position: relative;
	padding-bottom: 20px; 
  padding-top: 20px;
  background-color: #191C1F;
}

.twitter_share{
	width: 180px;
	float: right;
  margin-top: 5px;
}

.facebook_share{
	width: 90px;
	float: right;
  margin-top: 5px;
}

.fb-share-button {
transform: scale(0.95);
transform-origin: top left;
}


// LOGIN

#login_modal{
  width: 250px;
  height: 500px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#login_modal div{
	margin: 0 auto;
}


// CREATE APPOINTMENT

#new_appointment_modal{
  width: 40%;
  height: 80%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#new_appointment_modal div{
  margin: 0 auto;
}


// CREATE SERVICE

#new_service_modal{
  width: 40%;
  height: 80%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#new_service_modal div{
  margin: 0 auto;
}


// CREATE TRAINER

#new_trainer_modal{
  width: 40%;
  height: 80%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#new_trainer_modal div{
  margin: 0 auto;
}


// MAP

#map-container {
	position: relative;
	max-height: 400px;
  padding-bottom: 40%; // This is the aspect ratio
 	width: 100%;
  overflow: hidden;
} 

#map-canvas { 
	position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; 
  max-height: 400px;
}

#message_name{
  color: white;
  padding-left: 5px;
  height: 58px;
  vertical-align: text-bottom;  
}

#message_email{
  color: #ffffff;
  padding-left: 5px;
  height: 58px;
}

#message_content{
  padding-left: 5px;
  height: 129px;
  vertical-align: text-bottom;
}


// BUTTONS

.button{
  background-color: #00b9ce;
  color: white;
}


// FONT FOR ALL TYPES
.font{
  color: #8d8a8a;
}


.jumbotron{
  margin-bottom:0 !important;
  background:rgba(255,255,255,.9) !important;
}
.fluid_container{
  background:rgb(15,16,18);
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    background:rgb(20,20,20);
}
.parallax__group {
    height: 260px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
    z-index:100;
    height:70%;
}
.parallax__layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.parallax__layer--base {
    transform: translateZ(0px);
    z-index: 4;
}
.parallax__layer--back {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    height:100%;
}

