/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';


.container{
background-color: #f6f6f6;
}

// HEADER

.header{
	margin-top: 20px;
}



// FOOTER

.footer{
	float: right;
	width: 100%;
	position: relative;
	margin-bottom: 20px; 
}

.twitter_share{
	width: 120px;
	float: right;
}

.facebook_share{
	width: 90px;
	float: right;
}

.fb-share-button {
transform: scale(1.35);
transform-origin: top left;
}



// LOGIN

#login_modal{
  width: 250px;
  height: 500px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#login_modal div{
	margin: 0 auto;
}

// MAP

#map-container {
	position: relative;
	max-height: 400px;
  padding-bottom: 40%; // This is the aspect ratio
 	width: 100%;
  overflow: hidden;
} 

#map-canvas { 
	position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; 
  max-height: 400px;
}