// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//FEATURED EVENTS
.feature1{
	font-size: 18px;
}

.feature_title{
	color: #74767A;
	font-weight: bold;
}

// FONT FOR ALL TYPES
.font{
	color: #83868B;
}
