// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero img{
	width: 100%;
}

.trainerpics{
	width: 100%;
	overflow-y: hidden;
	white-space: nowrap;
	float: none;
}

.indtrainer{
	width: 400%;
	white-space: normal;
	display: inline-block;
	position: relative;
	right: 0;
}