// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	padding: 1% 0;
}

//CONTACT FORM

.left_contact_form{
	width: 49%;
	float: left;
}
.right_contact_form{
	width: 49%;
	float: right;
}

.contact_field{
	position: relative;
	width: 100%;
	margin: 1% 0;
}

.contact_message{
	position: relative;
	width: 100%;
	margin: 1% 0;
	float: right;
}

.contact_button{
	float: right;
}

// ABOUT DETAILS
#contact_about{
	float:right;
}


