
<div class="container">
	<h1>Our upcoming services</h1>

	<div class="calendar">
		<!-- Render all appointments -->
		<% @appointments.each do |a| %>
			Service: <%= a.service.name %>
			<br><br>
			Date: <%= a.date.strftime("%A") %>
			<br><br>
			Start Time: <%= a.start_time.strftime("%l:%M%P") %>
			<br><br>
			End Time: <%= a.end_time.strftime("%l:%M%P") %>
			<hr>
		<% end %>
	</div>

	<br />

	<div class="services_list">
		Content describing services
	</div>

</div>

<br />

