<div class="container">
	<h1><b>FEATURED EVENTS<b></h1>
	<div class="feature1"><b>Sunday, June 4, 6-9 pm:</b> curabitur non erat faucibus, tincidunt sem a, sollicitudin nunc. Duis fermentum pharetra elementum. Nunc ut luctus purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nisl vitae elit maximus euismod eu feugiat tortor.</div> 
	<br>
	<div class="feature1"><b>Sunday, April 8, 6-9 pm:</b> curabitur non erat faucibus, tincidunt sem a, sollicitudin nunc. Duis fermentum pharetra elementum. Nunc ut luctus purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nisl vitae elit maximus euismod eu feugiat tortor.</div> 
	<br><br>
	<br><br>
	<br><br>
	<br><br>

	<div class="calendar">
		<!-- Render all appointments -->
		<% @appointments.each do |a| %>
			Service: <%= a.service.name %>
			<br><br>
			Date: <%= a.date.strftime("%A") %>
			<br><br>
			Start Time: <%= a.start_time.strftime("%l:%M%P") %>
			<br><br>
			End Time: <%= a.end_time.strftime("%l:%M%P") %>
			<hr>
		<% end %>
	</div>

	<br />

	<div class="services_list">
		Content describing services
	</div>

</div>

