<%= render 'layouts/header' %>

<div class="container">
	<h1>Meet our trainers...</h1>

	<div class="trainer_profile">
		Container to wrap all trainer bios in
		<div class="trainer_photo">
			Trainer photo
		</div>
		<div class="trainer_name">
			Trainer first and last name
		</div>
		<div class="trainer_bio">
			Trainer bio
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>