
<div class="container">
	<h1>Meet our trainers...</h1>

	<div class="trainer_header">
		<h3> TRAINERS</h3>
		<div class="row feature_title">
				<div class="col-md-4">
					<h4>Name</h4>
				</div>
				<div class="col-md-4">
					<h4>Bio</h4>
				</div>
				<div class="col-md-4">
					<h4>Photo</h4>
				</div>
		</div>
	</div>


	<div class="trainer_profiles">
			<div class="row">
				<% @trainers.each do |t| %>
				<div class="col-md-4 trainer_name">
						<%= t.full_name %>
				</div>
				<div class="col-md-4 trainer_bio">
					<%= t.bio %>
				</div>
				<div class="col-md-4 trainer_photo">
					<%= t.photo %>
				</div>
				<% end %>
			</div>
	</div>

</div>