
<div class="container">

	<h3> MEET THE INSTRUCTORS AT BRANCH</h3>
	<% @trainers.each do |t| %>
		<div id="trainer_info">
			<div class="row">
				<div class="col-md-2 trainer_photo">
					<%=image_tag t.photo.url(:thumb)%>
				</div>
				<div class="col-md-10 trainer_info">
					<strong><%= t.full_name %></strong> <br>
					<%= t.bio %>
				</div>
			</div>
		</div>
		<hr>
	<% end %>

</div>
<br />