<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>


	<div class="footer">
			<div class = "facebook_share">
				<div class="fb-share-button" data-href="https://www.branchstudiola.com" data-layout="button"></div>
			</div>
			<div class = "twitter_share">
				<a class="twitter-follow-button" href="https://twitter.com/thebranchstudiola" data-show-count="false" data-lang="en">
					Follow @twitterapi
				</a>
			</div>
	</div>

