<hr />

<div class="container">
	<div class="footer">
		Div to wrap all the footer information
		<div class="nav_links">
			Adding a standard class for nav links (links to all other pages)
		</div>
		<div class="footer_contact_info">
			Arrange footer contact info
		</div>
	</div>
</div>