
<div class="container">
	<div class="header">
		<div class="left_header">
			  
				<div class="nav_links">
					<%= link_to 'BRANCH STUDIO', 'home#index' %> | 
					<%= link_to 'SERVICES', appointments_path %> | 
					<%= link_to 'TRAINERS', trainers_path %> | 
					<%= link_to 'CONTACT', abouts_path %> | 
				</div>
		</div>
		<div class="header_hamburger">
			
		</div>
	</div>
</div>

<hr />