<div class="container">
	<div class="header">
		<div class="left_header">
			We'll input all the header information here so we can call it on multiple pages.  
				<div class="nav_links">
					Includes links
				</div>
		</div>
		<div class="header_hamburger">
			This will be the hamburger menu on the right side
		</div>
	</div>
</div>

<hr />