
<div class="container">
	<div class="header">
		<div class="left_header">
			  
				<div class="nav_links">
					<%= link_to 'BRANCH STUDIO', '/home', "data-no-turbolink" => true  %> | 
					<%= link_to 'SERVICES', appointments_path, "data-no-turbolink" => true  %> | 
					<%= link_to 'TRAINERS', trainers_path, "data-no-turbolink" => true %> | 
					<%= link_to 'CONTACT', '/about', "data-no-turbolink" => true %> | 
				</div>
		</div>
		<div class="header_hamburger">
			
		</div>
	</div>
</div>

<hr />