<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>"></script>
 <script type="text/javascript">  
 	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var geocoder = new google.maps.Geocoder();

 	function initialize() { 
 		directionsDisplay = new google.maps.DirectionsRenderer();
 		var branchStudio = new google.maps.LatLng(34.012916, -118.495141);
 		var mapOptions = { 
 			center: branchStudio, 
 			zoom: 15
 		}; 
 		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 		directionsDisplay.setMap(map);

		var contentString = 
		 	'<div id="content">'+
	    '<div id="siteNotice">'+
	    '</div>'+
	    '<h1 id="firstHeading" class="firstHeading">Branch Studio</h1>'+
	    '<div id="bodyContent">'+
	    '<p><b>Branch Studio</b>, founded in 2015, is a progressive ' +
	    'yoga studio located in Santa Monica, California right off the Pacific '+
	    'Ocean.  Branch was founded to bring yoga to the people of '+
	    'WDI, focusing on flexibility, strength and peace of mind. '+
	    'We offer a full schedule of classes, special events and training '+
	    'in a fun, low-stress environment. We co-habitate with General '+
	    'Assembly which has helped us craft specific classes focused on '+
	    'helping programmers stay limber and relaxed during all day code parties'+
	    '</p>'+
	    '</div>'+
	    '</div>';
	 	
	 	var infowindow = new google.maps.InfoWindow({
      content: contentString
  	});

 		var marker = new google.maps.Marker({
    position: branchStudio,
    map: map,
    title:"Branch Studio!"
		});

		google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  	});
	} 

		google.maps.event.addDomListener(window, 'load', initialize);

function calcRoute() {
  var start = document.getElementById('startAddress').value;
  var end = document.getElementById('endAddress').value;
  var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}
</script>
<!-- <div id="panel">
    <div>
       <input id="startAddress" type="textbox" value="Santa Monica, CA, USA">
       <input id="endAddress" type="textbox" value="Santa Barbara, CA, USA">
       <input type="button" value="Map Address" onclick="calcRoute()">
    </div>
</div> -->
<div id="map-container">
	<div id="map-canvas">
	</div>
</div>


<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
